<!DOCTYPE html>
<html>
    <head>
        <%- include('template/header') %>
    </head>
    <%- include('template/navbar') %>
    <div class='container'>
        <h2><%= errMsg %></h2>
        <% if(username){ %>
            <div class="card mb-3 col-sm-10 m-auto">
                <div class="card-header bg-primary text-white">
                    <span>Hi <%- username %>, 您已登入 </span>
                </div>
                <div class="card-body">
                    <form method="POST" action='/'>
                        <div class="mb-3 row">
                            <div class="col">
                                <textarea name="content" class="form-control" placeholder="Comment:"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary mb-3 form-control">送出留言</button>
                    </form>
                </div>
            </div>
        <% }else{ %>
            <div class="card mb-3 col-sm-10 m-auto">
                <div class="card-header bg-secondary text-white"><h5>Hi guest, 您尚未登入</h5></div>
                <div class="card-body text-danger">
                    <h5 class="card-title">沒有留言權限</h5>
                </div>
            </div>
        <% } %>
        <% if(comments){ %> 
            <% comments.forEach(comment=>{ %>
                <div class="card mb-3 col-sm-10 m-auto">
                    <div class="card-header">
                        <span><%= comment.User.nickname %></span>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><%= comment.content %></p>
                        <div class="d-flex justify-content-end">
                            <a href="/update" class="btn btn-outline-primary">編輯</a>
                            <a href="/delete" class="btn btn-outline-danger">刪除</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
</html>