<!DOCTYPE html>
<html>
    <head>
        <%- include('template/header'); %>
    </head>
    <%- include('template/navbar'); %>
    <div class="container">
        <% if(errMsg && errMsg.length > 0){ %>
            <div class="alert alert-danger" role="alert"> <%= errMsg %></div>
        <% } %>
        <% if(username) { %>
            Hi <%= username %>, 您已登入
            <form method="POST" action="/">
                <div class="mb-3">
                    <label class="form-label">留言內容 :</label>
                    <textarea name="content" class="col-sm-10 form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">送出留言</button>
            </form>
        <% } %>
        <% comments.forEach(function(comment){ %>
            <div class="card w-75 mt-2">
                <div class="card-body">
                    <h5 class="card-title"><%= comment.User.nickname %></h5>
                    <p class="card-text"><%= comment.content %></p>
                    <% if(comment.User.username === username){ %>
                        <a href="/update_comment/<%= comment.id %>" class="card-link">編輯</a>
                        <a href="/delete_comment/<%= comment.id %>" class="card-link">刪除</a>
                    <% } %>
                </div>
            </div>
        <% }); %>
    </div>
</html>