<!DOCTYPE html>
<html>
    <head>
        <%- include('template/header'); %>
        <%- include('template/navbar'); %>
    </head>
    <h1>簡易會員註冊系統</h1>
    <h2><%= errMsg %></h2>
    <% if(username) { %>
        Hi <%= username %>, 您已登入
        <form method="POST" action="/">
            <div> Comments : </div>
            <div> <textarea name="content"></textarea> </div>
            <input type='submit' />
        </form>
    <% } %>
    <% comments.forEach(function(comment){ %>
        <h2><%= comment.nickname %></h2>
        <span><%= comment.content %></span>
        <% if(comment.username === username){ %>
            <a href="/update_comment/<%= comment.id %>">編輯</a>
            <a href="/delete_comment/<%= comment.id %>">刪除</a>
        <% } %>
    <% }); %>
</html>